<div class="column-layout store-header-layout">
  <h3 class="content">
    FC CARD PACK STORE
  </h3>
  <p class="content">
    Exchange your loaded Store Points or Coins to secure ultimate team booster packs.
  </p>
</div>
<div class="row-layout store-packs-row">
  <igx-card class="store-pack-1">
    <igx-card-content>
      <div class="column-layout pack-content-1">
        <igx-avatar shape="circle" class="pack-icon-1 pack-icon-1_1">
          <igx-icon class="icon">
            auto_awesome
          </igx-icon>
        </igx-avatar>
        <h5 class="content_1">
          ULTIMATE PRIME PACK
        </h5>
        <p class="content_1">
          Guarantees one 95+ OVR Football Master, custom club emblems, and 50,000 Coin bonus.
        </p>
        <igx-chip class="pack-price-1">
          <igx-prefix>
            <igx-icon class="icon-1i-3zkq">
              account_balance_wallet
            </igx-icon>
          </igx-prefix>
          Price: 1,500 FP
        </igx-chip>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="pack-buy-btn-1">
          <igx-icon>
            shopping_bag
          </igx-icon>
          <span>Open Pack</span>
        </button>
      </ng-container>
      <ng-container igxEnd></ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="store-pack-2">
    <igx-card-content>
      <div class="column-layout pack-content-1">
        <igx-avatar shape="circle" class="pack-icon-2 pack-icon-2_1">
          <igx-icon class="icon_1">
            military_tech
          </igx-icon>
        </igx-avatar>
        <h5 class="content_1">
          TOTY SQUAD BOOSTER
        </h5>
        <p class="content_1">
          High chance of Team of the Year Nominees. Includes 3 Gold Player Cards (85+ OVR).
        </p>
        <igx-chip class="pack-price-1">
          <igx-prefix>
            <igx-icon class="icon-0bam-4g">
              monetization_on
            </igx-icon>
          </igx-prefix>
          Price: 50,000 Coins
        </igx-chip>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="pack-buy-btn-1">
          <igx-icon>
            shopping_bag
          </igx-icon>
          <span>Open Pack</span>
        </button>
      </ng-container>
      <ng-container igxEnd></ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="store-pack-3">
    <igx-card-content>
      <div class="column-layout pack-content-1">
        <igx-avatar shape="circle" class="pack-icon-3 pack-icon-3_1">
          <igx-icon class="icon_2">
            redeem
          </igx-icon>
        </igx-avatar>
        <h5 class="content_1">
          DAILY REWARD PACK
        </h5>
        <p class="content_1">
          Claim your daily free manager bonus package. Includes basic contract items and training XP.
        </p>
        <igx-chip class="pack-price-1">
          <igx-prefix>
            <igx-icon class="icon_3">
              place
            </igx-icon>
          </igx-prefix>
          Price: FREE
        </igx-chip>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="pack-buy-btn-1">
          <igx-icon>
            star
          </igx-icon>
          <span>Claim Daily Reward</span>
        </button>
      </ng-container>
      <ng-container igxEnd></ng-container>
    </igx-card-actions>
  </igx-card>
</div>
