:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.row-layout {
  display: flex;
}
.dash-padded-container {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.dash-central-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.dash-welcome-header {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: unset;
  max-height: unset;
  flex-shrink: 0;
}
.dash-metrics-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  flex-shrink: 0;
}
.metric-ovr {
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.metric-ovr-body {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.ovr-growth {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dash-stats-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.dash-left-column {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: unset;
  max-height: unset;
  flex: 3 0 0;
}
.dash-charts-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: unset;
  max-height: unset;
  flex-grow: 1;
  flex-shrink: 0;
}
.match-performance-section {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 360px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.chart-header {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.market-feed-section {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 360px;
  min-height: 50px;
  flex-grow: 2;
  flex-shrink: 0;
}
.dash-right-column {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 24px;
  position: relative;
  min-width: unset;
  max-height: unset;
  flex-grow: 1;
  flex-basis: 0;
}
.list-news-section {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 360px;
  min-height: 50px;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.metric-ovr-avatar {
  --igx-avatar-background: var(--ig-success-500);
}
.icon {
  color: var(--ig-success-500-contrast);
}
.ovr-rate-text {
  color: var(--ig-success-500);
  height: max-content;
  min-width: min-content;
}
.metric-chem-avatar {
  --igx-avatar-background: var(--ig-info-500);
}
.icon_1 {
  color: var(--ig-info-500-contrast);
}
.metric-val-avatar {
  --igx-avatar-background: var(--ig-warn-500);
}
.icon_2 {
  color: var(--ig-warn-500-contrast);
}
.metric-points-avatar {
  --igx-avatar-background: var(--ig-primary-500);
}
.icon_3 {
  color: var(--ig-primary-500-contrast);
}
.event-avatar-1 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: var(--ig-primary-100);
}
.icon_4 {
  color: var(--ig-primary-100-contrast);
}
.metric-ovr-avatar_1::part(base) {
  --igx-avatar-color: var(--ig-success-500-contrast);
}
.metric-chem-avatar_1::part(base) {
  --igx-avatar-color: var(--ig-info-500-contrast);
}
.metric-val-avatar_1::part(base) {
  --igx-avatar-color: var(--ig-warn-500-contrast);
}
.metric-points-avatar_1::part(base) {
  --igx-avatar-color: var(--ig-primary-500-contrast);
}
.event-avatar-1_1::part(base) {
  --igx-avatar-color: var(--ig-primary-100-contrast);
}
.event-avatar-1_2::part(base) {
  --igx-avatar-color: var(--ig-primary-100-contrast);
}
.match-perf-chart {
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.dashboard-matches-grid {
  min-width: 200px;
  max-height: 400px;
  flex-grow: 1;
  flex-basis: 0;
}
.events-list {
  height: max-content;
}
